/* General styling */
.admin-dashboard-container {
  height: 100%;
  min-height:130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  padding: 1rem;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: url("https://img.freepik.com/premium-photo/organic-food-background-free-space-your-text-top-view_187166-46920.jpg");
}

.admin-dashboard-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  background-color: white;
}

.admin-dashboard-card-body {
  padding: 1rem;
}

.admin-dashboard-text-center {
  color: rgba(72, 19, 19, 0.412);

  font-size: 1.5rem;
}

.admin-dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.admin-dashboard-filter-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.admin-dashboard-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.admin-dashboard-btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  
}
.btn-success {
  color: #fff;
  background-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.admin-dashboard-table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
}

.admin-dashboard-table th, .admin-dashboard-table td {
  padding: 0.75rem;
  border: 1px solid #dee2e6;
  white-space: nowrap;
  text-align: left;
}

.admin-dashboard-tbody-btn {
  text-align: center;
  
}

@media (min-width: 768px) {
  .admin-dashboard-header {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .admin-dashboard-filter-container {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: auto;
  }

  .admin-dashboard-input {
    width: auto;
  }

  .admin-dashboard-btn {
    width: auto;
  }

  .admin-dashboard-table {
    display: table;
  }
}

@media (max-width: 768px) {
  .admin-dashboard-table th, .admin-dashboard-table td {
    padding: 0.5rem;
  }

  .admin-dashboard-table {
    font-size: 0.9rem;
  }
  .admin-dashboard-filter-container {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .admin-dashboard-container {
    padding: 0.5rem;
  }

  .admin-dashboard-table {
    font-size: 0.8rem;
  }

  .admin-dashboard-table th, .admin-dashboard-table td {
    padding: 0.3rem;
  }
}
