.admin-dashboard-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
    min-width: 100vh;
    min-height: 150vh;
    padding: 2rem 5rem;
    background: linear-gradient(#ff5f6d,#ffc371) ;
    /* background: rgba(0, 0, 0, 0.5);
    color: white; */
    
  }

  /* .admin-dashboard-row {
    display: flex;
    justify-content: center;
  } */
  
  .admin-dashboard-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
    min-width: 100vh;
    background-color: white;
    /* max-width: 1200px; */
  }
  
  .admin-dashboard-card-body {
    padding: 2rem;
  }

  
  .admin-dashboard-text-center {
    color: rgba(72, 19, 19, 0.412);

  }

  .admin-dashboard-header{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .admin-dashboard-header button{
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    border: none;

  }
  
  .admin-dashboard-table {
    min-width: 100vh;
    margin-bottom: 1rem;
    color: #212529;

  }
  
  .admin-dashboard-table th, .admin-dashboard-table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  /* .admin-dashboard-tbody-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  } */

  .admin-dashboard-btn{
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px 5px;
    margin-bottom: 2px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .admin-dashboard-filter-container {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .admin-dashboard-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  