*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
}